<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Election-Voting API</title>
</head>
<body>
    <div class="container">
        <h2>Election-Voting API</h2>
        <table>
            <tr>
                <th>Sr.No</th>
                <th>Path</th>
                <th>Method</th>
                <th>Description</th>
            </tr>

            <tr>
                <td>1</td>
                <td>/ or /index.html</td>
                <td>GET</td>
                <td>Api Landing Page</td>
            </tr>

            <tr>
                <td>2</td>
                <td>/index/data or index.html/data</td>
                <td>GET</td>
                <td>Demo Data</td>
            </tr>

            <tr>
                <td>3</td>
                <td>/employees</td>
                <td>/GET</td>
                <td>Get all the records of Employees</td>
            </tr>

            <tr>
                <td>4</td>
                <td>/employee/:id</td>
                <td>/GET</td>
                <td>Get a single specific employee</td>
            </tr>

            <tr>
                <td>5</td>
                <td>/employee</td>
                <td>/POST</td>
                <td>Create a new Employee</td>
            </tr>

            <tr>
                <td>6</td>
                <td>/employee/:id</td>
                <td>/DELETE</td>
                <td>Delete Employee Record!</td>
            </tr>

            <tr>
                <td>7</td>
                <td>/employee/:id</td>
                <td>/PUT</td>
                <td>Update the specific employee</td>
            </tr>

            <tr>
                <td>8</td>
                <td>/register</td>
                <td>/POST</td>
                <td>Create new User</td>
            </tr>

            <tr>
                <td>9</td>
                <td>/login</td>
                <td>/POST</td>
                <td>Authenticate</td>
            </tr>

        </table>
    </div>
</body>
</html>