<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Email-Otp-API</title>
</head>
<body>
    <div class="container">
        <h2>Email-Otp-API</h2>
        <table>
            <tr>
                <th>Sr.No</th>
                <th>Path</th>
                <th>Method</th>
                <th>Description</th>
            </tr>

            <tr>
                <td>1</td>
                <td>/ or /index.html</td>
                <td>GET</td>
                <td>Api Landing Page</td>
            </tr>

            <tr>
                <td>2</td>
                <td>/api/generate</td>
                <td>POST</td>
                <td>Generate And Send OTP With The Type, Size And Mail Sent
                </td>
            </tr>

            <tr>
                <td>3</td>
                <td>/api/verify</td>
                <td>POST</td>
                <td>Verify the Sent OTP
                </td>
            </tr>

        </table>
    </div>
</body>
</html>